.subtitulo {
    margin: 15px;
    padding: 0;
}

.tituloInterno{
    font-size: 24px;
    padding: 0 0 0 20px;
    margin: 0;
}

.contenedor{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.imagen{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: auto;
}

.imagen2{
    float: left;
    margin: 0 20px 20px 0;
    max-width: 25%;
    height: auto;
}

p{
    font-size: 18px;
}